body {
    background-image: url("background.png");
    color:white;
}

header {
    height:200px;
}

.button {
    height:40px;
    width: 230px;
    background-color:rgb(0, 183, 255);
    border: none;
    border-radius:3px;
    margin-top: 25px;
    font-size: 16px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.DevMtn {
    float:left;
    height:50px;
    margin-left:80px;
    margin-top:15px;
    display:inline-block;
}

ul{
    float:right;
    margin-bottom:10px;
    margin-right:78px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li {
    display: inline-block;
    margin: 30px 11px;
    font-size:16px;
    padding-top:10px;
}
section {
    margin-top: 240px;
    text-align: center;
}

h2 {
    font-size:65px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h4 {
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

